/* colors:
primary: #0b2f8a 
visited: #05676e
hover: #0b2f2a
actoive: #8c2d84
background: #3455
button font: #fff
*/

:root {
  --primary-color: #357b70;
  --body-color: #3455;
  --link-visited: #05676e;
  --link-hover: #0b2f2a;
  --link-active: #8c2d84;
  --button: #05675e;
  --button-secondary: #e0b354;
  --grid-item: #8c2d83;
}

body {
  background-color: var(--body-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: normal;
  font-size: 13px;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--link-visited);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

button,
.button {
  background-color: var(--button);
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.4) 5px;
  font-family: inherit;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--button-secondary);
  color: #2b2b2b;
}

.nav-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  width: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.grid__item {
  background-color: var(--grid-item);
  padding: 10px;
}

.grid__item:hover {
  transform: rotate(3deg);
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

header img {
  width: 60px;
}

main,
section {
  max-width: 1024px;
  margin: auto;
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #8c2d84;
  }
  50% {
    fill: #e0b354;
  }
  100% {
    fill: #0b2f2a;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
